header {
    width: 100%;
    box-sizing: border-box;
    padding: auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
}

.nav-bar {
    display: flex;
    gap: 20px;
}

nav a {
    font-size: medium;
    font-weight: 400;
    text-decoration: none;
    color: #1D1D1F;
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    align-items: center;
    gap: 32px;
}

nav a:hover {
    color: #e91818;
    transition: 0.3s;
}

.my-name {
    color: rgba(221, 17, 221, 0.863);
    font-weight: bold;
    font-style: oblique;
}

body {
    background-color: #F5F5F7;
    font-family: sans-serif;
    margin: 0;
    color: #1D1D1F;
}

.container {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
}